body {
    background: linear-gradient(45deg, rgb(102, 240, 240), rgb(224, 84, 224));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: .8rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    font-weight: bolder;
}

.title {
    text-align: center;
}









